@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  /* Maison Voss - Paleta de Luxo */
  --background: #0a0a0a;
  --foreground: #e8e4dc;
  --card: #141414;
  --card-foreground: #e8e4dc;
  --popover: #141414;
  --popover-foreground: #e8e4dc;
  --primary: #e8e4dc;
  --primary-foreground: #0a0a0a;
  --secondary: #1e1e1e;
  --secondary-foreground: #e8e4dc;
  --muted: #2e2e2e;
  --muted-foreground: #6b6b6b;
  --accent: #c9b99a;
  --accent-foreground: #0a0a0a;
  --destructive: #7f1d1d;
  --destructive-foreground: #fecaca;
  --border: #1e1e1e;
  --input: #1e1e1e;
  --ring: #c9b99a;
  --radius: 0px;

  /* Cores customizadas */
  --surface: #141414;
  --surface-elevated: #1e1e1e;
  --text-primary: #e8e4dc;
  --text-secondary: #a8a8a8;
  --text-muted: #6b6b6b;
  --gold: #c9b99a;
}

@theme inline {
  --font-sans: 'Raleway', sans-serif;
  --font-serif: 'Cormorant Garamond', serif;
  --font-display: 'Cormorant Infant', serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-surface: var(--surface);
  --color-surface-elevated: var(--surface-elevated);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-gold: var(--gold);
}

@layer base {
  *, *::before, *::after {
    @apply border-border outline-ring/50;
    cursor: none !important;
  }

  .leaflet-container,
  .leaflet-container * {
    cursor: none !important;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-foreground antialiased;
  }

  ::selection {
    background-color: #c9b99a;
    color: #0a0a0a;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #c9b99a;
}
